<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your new chats</title>
</head>
<body>
    <h1>Create Your New Chats</h1>
    <form method="post" action="/chats">
        <input type="text" placeholder="Who Are You?" name="from">
        <br><br>
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Write your message"></textarea>
        <br><br>
        <input type="text" name="to" id="to" placeholder="Recievers name">
        <br><br>
        <button type="submit">Send Message</button>
    </form>
</body>
</html>